<h1 mat-dialog-title>Procedure Summary </h1>
<div mat-dialog-content>
 <div class="modal-body">
              <div class="form_section">
		 <div class="row">
		 <div class="col-12">
  <div class="card elevation-0">
<div class="row mt-3">
        <div class="col-md-12" >
		<div class="p-2">
          <!-- Profile Image -->
          
		  <div class="box box-primary">
            <div class="box-body box-profile">
              <div class="row">
				<div class="col-md-2 pt-3">
					<div><img class="profile-user-img img-responsive img-circle" src="../assets/img/user8-128x128.jpg" alt="User profile picture"></div>
				</div>
				<div class="col-md-4">
					<h4 class="">Wilson</h4>
					<p class="">12/12/1990 - 30 years</p>
					<div class="row" style="line-height:10px">
						<div class="col-md-4 pl-2">
						<strong> Acc No</strong>
						</div>
						<div class="col-md-8">
						<p class="text-muted">ACC32434</p>
						</div>
					</div>
					<div class="row"  style="line-height:10px">
						<div class="col-md-4 pl-2">
						<strong> SSN</strong>
						</div>
						<div class="col-md-8">
						<p class="text-muted">XXXXXXX76</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row mt-2"  style="line-height:10px">
						<div class="col-md-5">
						<strong> Email</strong>
						</div>
						<div class="col-md-7">
						<p class="text-muted">andrew@gmail.com</p>
						</div>
					</div>
					<div class="row " style="line-height:10px">
						<div class="col-md-5">
						<strong> Address</strong>
						</div>
						<div class="col-md-7">
						<p class="text-muted">59 West 47th Street,</p>
						
						</div>
					</div>
					<div class="row"  style="line-height:10px">
						<div class="col-md-5">
						<strong> Cell Phone</strong>
						</div>
						<div class="col-md-7">
						<p class="text-muted">212-727-2900</p>
						</div>
					</div>
				</div>
            </div>
            <!-- /.box-body -->
          </div>
		  </div>
         
        </div>
		</div>
        <!-- /.col -->
        
              
</div>	  
            
			</div>
 </div></div>
 </div>
 
 
 <div class="row">
		 
					<div class="col-md-6 p-2" >
						<div class="col-md-12 p-0" style="background:#fafafa">		 
							<div class="col-md-12 px-2 py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> Patient History</h4>
								</div>
							</div>
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									First Colonoscopy?
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Any blood thinners?
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Recently had a physical exam?
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Dialysis patient?
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Congestive heart failure?
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Ischemic heart disease?
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							</div>
						</div>
					</div>
					
					
					<div class="col-md-6 p-2" >
						<div class="col-md-12 p-0" style="background:#fafafa">		 
							<div class="col-md-12 px-2 py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> General Details</h4>
								</div>
							</div>
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Dizziness
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Fatigue
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Fever
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Wheelchair Bound
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Weight Loss
								</div>
								<div class="col-md-2 pr-0">
									<p class="text-right text-orange font-weight-bold">10 lbs</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Weight Gain
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">No</p>
								</div>
							</div>
							</div>
						</div>
					</div>
		 
		 
				</div>
         
 

 
 
 
         <div class="row">
		 
					<div class="col-md-6 p-2" >
						<div class="col-md-12 p-0" style="background:#fafafa">		 
							<div class="col-md-12 px-2 py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> GI Info</h4>
								</div>
							</div>
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Abdominal Pain
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Constipation
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Diarrhea
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Nausea
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Ulcerative Colitis
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Liver Disease 
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Heartburn/Reflux
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Difficulty/Painful Swallowing
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Vomiting
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Rectal Bleeding
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Crohn’s
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Had a colonoscopy?
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							</div>
						</div>
					</div>
					
					
					<div class="col-md-6 p-2" >
						<div class="col-md-12 p-0" style="background:#fafafa">		 
							<div class="col-md-12 px-2 py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> Cardiovascular</h4>
								</div>
							</div>
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Chest Pain/Pressure/Heaviness
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Irregular Heart Thythm
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									High Blood Pressure
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Valve Surgery
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Heart Attack
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">Yes</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Stents Placed
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Defibrillator and/or Pacemaker
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Congestive Heart Failure
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">No</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									&nbsp;
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">&nbsp;</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									&nbsp;
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">&nbsp;</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									&nbsp;
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">&nbsp;</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10">
									&nbsp;
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">&nbsp;</p>
								</div>
							</div>
							</div>
						</div>
					</div>
		 
		 
				</div>
				
				
				
				
				
				
				<div class="row">
		 
					<div class="col-md-12 pr-0 mr-0 mt-2 mb-3" >
						<div class="col-md-12 row pr-0 mr-0 pl-0" style="background:#fafafa">		 
							<div class="col-md-12  py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> Procedure Details</h4>
								</div>
							</div>
							<div class="col-md-12 p-0">
							
							<div class="col-md-12 mt-3">
							
								<div class="row">
									<div class="col-md-4">
									Procedure Performed
									</div>
									<div class="col-md-8">
									<p class="text-muted">Colonoscopy</p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
									Screening Type
									</div>
									<div class="col-md-8">
									<p class="text-muted">{{data.screeningType}}</p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
									Pre Existing Condition
									</div>
									<div class="col-md-8">
									<p class="text-muted">{{data.preExistCondition.value ? 'Yes' : 'No'}}</p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
									Screened for malignant neoplasm
									</div>
									<div class="col-md-8">
									<p class="text-muted">{{data.screenForNeoplasm.value ? 'Yes' : 'No'}}</p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
									Procedure Performed through Stomach or Anus?
									</div>
									<div class="col-md-8">
									<p class="text-muted">
									
										{{data.procPerformedWay}}
									</p>
									</div>
								</div>
							
							
							</div>
							
							
							
							<div class="col-md-12 row" style="border-top:2px solid #fff;">
							<div class="col-md-6 p-0">
							
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-6">
									Instruments
								</div>
								<div class="col-md-6">
									<p class="text-muted">CF 180 254875</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-6">
									Quality of Bowel Prep
								</div>
								<div class="col-md-6">
									<p class="text-muted">Adequate</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									Medications
								</div>
								<div class="col-md-6">
									<p class="text-muted">Versed 3mg IVP, Fentanyl 100 mg IV</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-6">
									Right Colon
								</div>
								<div class="col-md-6">
									<p class="text-muted">3</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-6">
									Transverse Colon
								</div>
								<div class="col-md-6">
									<p class="text-muted">3</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									Left Colon
								</div>
								<div class="col-md-6">
									<p class="text-muted">3</p>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									Total Colon
								</div>
								<div class="col-md-6">
									<p class=" text-muted">9</p>
								</div>
							</div>
							
							</div>
						</div>
						
						
						<div class="col-md-6 p-0">
							
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Withdrawal Time
								</div>
								<div class="col-md-4">
									<p class="text-muted">00:08</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Extent of Exam
								</div>
								<div class="col-md-4">
									<p class="text-muted">Terminal ileum </p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Landmarks Identified
								</div>
								<div class="col-md-4">
									<p class=" text-muted">Terminal ileum</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Facility
								</div>
								<div class="col-md-4">
									<p class=" text-muted">Facility1</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Visualization
								</div>
								<div class="col-md-4">
									<p class="text-muted">Good</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Tolerance
								</div>
								<div class="col-md-4">
									<p class=" text-muted">Good</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Complications
								</div>
								<div class="col-md-4">
									<p class=" text-muted">None</p>
								</div>
							</div>
							
							</div>
						</div>
							</div>
							
						<div class="col-md-12 p-0" style="border-top:2px solid #fff;">
							
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-12">
									Notes
								</div>
								<div class="col-md-12">
									<p *ngFor="let note of data.procedureNotes" class="text-muted" style="text-align:justify">{{
										note
									}}</p>
								</div>
							</div>
							</div>
						</div>	

								<div class="col-md-12 p-0" style="border-top:2px solid #fff;">
							
							<div class="col-md-12 mt-3">
							<div class="row">			
								<div class="col-md-12">
								CPT Code:

								</div>
								<div class="col-md-12">
									<p class="text-muted" style="text-align:justify">
										G0121
									</p>
							</div>
							</div>
						</div>
							
						</div>
						
						
						<div class="col-md-12 p-0" style="border-top:2px solid #fff;">
							
							<div class="col-md-12 mt-3">
							<div class="row">			
								<div class="col-md-12">
								ICD 9/10 Codes:

								</div>
								<div class="col-md-12">
									<p class="text-muted" style="text-align:justify">
										
z12.11<br/>

									</p>
							</div>
							</div>
						</div>
							
						</div>
						
						
						
						
						
						</div>
					</div>
					
					
					
		 
		 
				</div>
				
				
				<div class="row">
		 
					<div class="col-md-12 pr-0 mr-0 mt-2" >
						<div class="col-md-12 row pr-0 mr-0 pl-0" style="background:#fafafa">		 
							<div class="col-md-12  py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> General Details</h4>
								</div>
							</div>
							<div class="col-md-6 p-0">
							
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Rendering Provider
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">Jack Smith</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Referring Provider
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">Alfred</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Billing Provider
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">Williams</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									Facility
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">Nora Healthcare</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Insurance
								</div>
								<div class="col-md-2">
									<p class="text-muted text-right">Revean Insurance</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Auth#
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">645676</p>
								</div>
							</div>
							
							</div>
						</div>
						
						
						<div class="col-md-6 p-0">
							
							<div class="col-md-12 mt-3">
							<div class="row" >			
								<div class="col-md-8">
									Admission From
								</div>
								<div class="col-md-2">
									<p class="text-right text-muted">21/08/2020</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
								Admission To
								</div>
								<div class="col-md-2">
									<p class="text-muted ">21/08/2020</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
								DOI
								</div>
								<div class="col-md-2">
									<p class="text-muted ">21/08/2020</p>
								</div>
							</div>
							<div class="row" >			
								<div class="col-md-8">
									POS
								</div>
								<div class="col-md-2">
									<p class=" text-muted">24</p>
								</div>
							</div>
			
							<div class="row">
								<div class="col-md-8">
									Co-Pay
								</div>
								<div class="col-md-2">
									<p class="text-muted ">$300.00</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									Amount
								</div>
								<div class="col-md-2">
									<p class="text-right text-orange font-weight-bold">$3200.00</p>
								</div>
							</div>
							
							</div>
						</div>
						
						
						</div>
					</div>
		 
				</div>
				
				
				
				
				
				<!-- <div class="row">
		 
					<div class="col-md-12 pr-0 mr-0 mt-2" >
						<div class="col-md-12 row pr-0 mr-0 pl-0" style="background:#fafafa">		 
							<div class="col-md-12  py-3" style="background:#f1f1f1">
								<div class="row">
									<h4 class="text-primary pb-0 mb-0 ml-3 font-18"><i class="fa fa-bars margin-r-5"></i> ICD Mapping</h4>
								</div>
							</div>
							<div class="col-md-12 mt-4">
							
							<div class="col-lg-12 row p-0">
							
							<div class="col-lg-3 ">
							<p class="font-22" style="font-size:16px !important;">	ICD 1 : Z01.411</p>
							</div>
							<div class="col-lg-3">
							<p  style="font-size:16px !important;">ICD 2 : Z01.419</p>
							</div>
							</div>
							<table class="table table-border" style="border-collapse: separate;">
					<thead class="thead-light">
								<tr>
									<th class="text-center">From</th>
									<th class="text-center">To</th>
									<th class="text-center">CPT</th>
									<th class="text-center">M1</th>
									<th class="text-center">M2</th>
									<th class="text-center">ICD Pointers</th>
									<th class="text-center">Units</th>
									<th class="text-center">Charges($)</th>
									<th class="text-center">Co-Pay($)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>03/25/2020</td>
									<td>03/25/2020</td>
									<td>45384</td>
									<td>43</td>
									<td></td>
									<td>2,1</td>
									<td>1</td>
									<td>520.00</td>
									<td>25.00</td>
								</tr>
							</tbody>
							</table>
							
							
						</div>
						
						
						
						
						
						</div>
					</div>
					
					
					
		 
		 
				</div> -->
				
				
				
	
 
  
         
            </div>
</div>
<div mat-dialog-actions class="text-center ">
  <button mat-button class="btn btn-primary text-center pull-right">Submit</button>
</div>
