<div class="top-bar">
    <div class="logo-wrapper">
        <img src="assets/images/logo-name.png" class="logo">
    </div>
    <div class="name-wrapper">
        Barnes Jewish Healthcare
    </div>
    <div class="option-wrapper">     
        <button class="option-button" mat-button matBadge="2" matBadgeOverlap="true">
            <mat-icon class="chat-icon">chat_bubble</mat-icon>
        </button>
    
        <button class="option-button" mat-button matBadge="15" matBadgeOverlap="true">
            <mat-icon class="notify-icon">notifications_active</mat-icon>
        </button>
        
        <button mat-button class="account-button">
            <img src="assets/images/photo.png" class="user-icon">
            <span class="account-name">
                John Mathew
            </span>
        </button>
    </div>
</div>
