<div class="toolbar">
    <div class="wrapper">
        <div class="menu patient-wrapper">
            <button mat-button class="btn active">
                <div class="icon-wrapper">
                    <svg class="btn-icon">
                        <use href="assets/svg/patient-icon.svg#svg-content" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </div>
                <div class="btn-text">
                    Patients
                </div>
            </button>
        </div>
        <div class="menu report-wrapper">
            <button mat-button class="btn">
                <div class="icon-wrapper">
                    <svg class="btn-icon">
                        <use href="assets/svg/report-icon.svg#svg-content" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </div>
                <div class="btn-text">
                    Reports
                </div>
            </button>
        </div>
        <div class="menu document-wrapper">
            <button mat-button class="btn">
                <div class="icon-wrapper">
                    <svg class="btn-icon">
                        <use href="assets/svg/document-icon.svg#svg-content" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </div>
                <div class="btn-text">
                    Documents
                </div>
            </button>
        </div>
        <div class="menu claim-wrapper">
            <button mat-button class="btn">
                <div class="icon-wrapper">
                    <svg class="btn-icon">
                        <use href="assets/svg/claim-icon.svg#svg-content" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </div>
                <div class="btn-text">
                    Claims
                </div>
            </button>
        </div>
    </div>
</div>